
module WtFix 1.0;

require {
	type admin_home_t;
	type httpd_t;
	class file getattr;
}

#============= httpd_t ==============
allow httpd_t admin_home_t:file getattr;
